<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PulseAid">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="PLACEHOLDER_KEY" />

        <activity
            android:name=".ui.bloodBank.StockMonitosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.bloodBank.HospitleRequestHandlingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.bloodBank.DonerCheckInQueryActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:exported="false" />

        <activity
            android:name=".ui.bloodBank.BloodBankDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.donor.DonorBookingActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
            android:exported="false"/>

        <activity
            android:name=".ui.hospital.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hospital.ActiveRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hospital.ConfirmDeliveriesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hospital.DelivaryStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hospital.RequestFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hospital.AvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hospital.HospitalDashboard"
            android:exported="false" />
        <activity
            android:name=".ui.donor.DonorDashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.admin.AnalyticsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.AdminSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.ManageUsersActivity"
            android:exported="false" />

        <activity
            android:name=".ui.donor.DonorRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
            android:exported="false" />

        <activity
            android:name=".ui.admin.ManageRequestsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.AddInstitutionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>